.game-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.dealers-balance {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 20%;
  text-align: left;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  color: ivory;
}

.total-bet {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 20%;
  text-align: left;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  color: ivory;
}

.players-balance {
  position: absolute;
  bottom: 5%;
  left: 2%;
  width: 20%;
  text-align: left;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  color: ivory;
}
.bet-input {
  position: absolute;
  bottom: 3%;
  left: 2%;
  width: 20%;
  text-align: left;
  gap: 20px;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.dealers-hand {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  text-align: center;
  color: ivory;
}

.dealers-hand img {
  width: 100px;
  margin-right: 10px;
}

.players-hand {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  text-align: center;
  color: ivory;
}

.players-hand img {
  width: 100px;
  margin-right: 10px;
}

.card-backside {
  border-radius: 8px;
}

.help-button {
  position: absolute;
  top: 5%;
  right: 5%;
}

.help-button button {
  background-color: #ff8c00;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.help-button button:hover {
  background-color: #ff6347;
}

.ai-more-button {
  position: absolute;
  top: 5%;
  right: 26%;
}

.ai-more-button button {
  color: black;
  border: none;
  cursor: pointer;
  padding: 15px 25px;
  font-size: 1.2rem;
}

.endGameNavBTNs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 800px;
  text-align: center;
}

.endGameNavBTNs button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: ivory;
  cursor: pointer;
}

.endGameNavBTNs button:hover {
  background-color: #0056b3;
}

.endGameNavBTNs h1 {
  font-size: 1.5rem;
  margin-top: 15px;
  color: ivory;
}

.ai-enough-button {
  position: absolute;
  top: 5%;
  right: 26%;
}

.ai-enough-button button {
  color: black;
  border: none;
  cursor: pointer;
  padding: 15px 25px;
  font-size: 1.2rem;
}

.game-focused-buttons {
  position: absolute;
  display: inline-block;
  bottom: 5%;
  right: 5%;
  display: flex;
  gap: 20px;
}

.game-focused-buttons button {
  padding: 15px 25px;
  font-size: 1.2rem;
}

.game-focused-buttons button:hover {
  background-color: #20b2aa;
}
.card-stack {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: ivory;
}

.card-stack img {
  width: 120px;
  border-radius: 8px;
}

.card-stack p {
  margin-top: 10px;
  font-size: 1rem;
}

body {
  background-color: #35654d;
}
