.error-message {
  color: red;
}

.game-name {
  margin-top: 35px;
  color: ivory;
  text-align: center;
}

.user-page {
  text-align: center;
}

.login-form {
  color: ivory;
  font-size: 20px;
}
.login-form button {
  margin: 10px;
  font-size: 30px;
  border-radius: 10px;
}
.login-form input {
  font-size: large;
  margin: 5px;
}

.register-user {
  color: ivory;
}

.register-user button {
  border-radius: 10px;
  font-size: 30px;
  margin: auto;
}
.register-new {
  color: ivory;
  font-size: 35px;
  margin: 45px;
}

.registration-form {
  color: ivory;
  margin: auto;
}
.registration-form button {
  border-radius: 10px;
  font-size: 20px;
  margin: auto;
}

.registration-form input {
  font-size: large;
  margin: 5px;
}
